doctype html
html
    head
        meta(charset="UTF-8")
        title Prototipo de Carta de Menú
        link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="css/main.css")

        script(src="../bower_components/jquery/dist/jquery.js")
        script(src="../bower_components/angular/angular.min.js")
        script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
        block javascripts
            

body(ng-app="app")
    header
        h1 Prototipo Carta de Menú
        h2 Subtitulo

    legend(class="text-center") 
        block titulo
            | Prototipo

    div(class="container" ng-controller="AppCtrl")
        block prototipo
