extends layout.jade

block javascripts
    script(src="js/app.js")

block objetivo
    include objetivo.jade

block contenido
    div(class="row", ui-view)
    include partials/categoriaModal.jade
    include partials/productoModal.jade
    
    div(class="row", style="margin-top: 30px;")
        pre {{ cartaMenu | json }}