p Desarrollo de interfaces del prototipo
p Se crearon las siguientes funciones
ul
    li Se diseño las interfaces de usuarios de las diferentes secciones.
    li Se crearon las funciones para crear Categoria y Productos en cada categoría.
    li Se crearon las funciones para borrar un producto.