
<div class="col-sm-10 col-sm-offset-1 animated zoomIn">
  <h1> <a ui-sref="home" class="btn btn-link btn-lg"><i class="glyphicon glyphicon-th-large"></i></a>Edición de la Carta de Menú</h1>
  <div class="pull-right">
    <button type="button" data-toggle="modal" data-target="#categoriaModal" class="btn btn-warning"> <i class="glyphicon glyphicon-plus"> </i> Categoria</button>
  </div>
  <h2 ng-hide="cartaMenu.length &gt; 0" class="text-center text-muted">Primero debes agregar una Categoría. </h2>
  <div ng-repeat="categ in cartaMenu" ng-show="cartaMenu.length &gt; 0">
    <legend class="form-inline">
      <div class="btn-group">
        <div class="dropdown">
          <button type="button" data-toggle="dropdown" class="btn btn-link dropdown-toggle"><i class="glyphicon glyphicon-cog"> </i></button>
          <ul class="dropdown-menu">
            <li> 
              <button ng-click="categoria.editar($index)" class="btn btn-link"><i class="glyphicon glyphicon-pencil"></i> Editar categoría</button>
            </li>
            <li> 
              <button ng-click="categoria.borrar()" class="btn btn-link"><i class="glyphicon glyphicon-trash"></i> Borrar categoría</button>
            </li>
          </ul>
        </div>
      </div><span ng-hide="categoria.selected == $index">{{ categ.nombre }}</span>
      <form ng-show="categoria.selected == $index" class="form-group">
        <input type="text" ng-model="categ.nombre" class="form-control"/>
        <button ng-click="categoria.endEdit()" class="btn btn-success">OK</button>
      </form>
      <button data-toggle="modal" data-target="#productoModal" ng-click="producto.nuevo(categ.id)" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-plus"> </i> Producto</button>
    </legend>
    <h2 ng-hide="categ.productos.length &gt; 0" class="text-center text-muted">Todavia no hay productos en esta categoría.</h2>
    <table ng-show="categ.productos.length &gt; 0" class="table table-bordered table-striped table-header">
      <thead>
        <tr>
          <th>#</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th style="width: 150px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="prod in categ.productos">
          <td>{{ $index + 1}}</td>
          <td> <span ng-hide="producto.editForm($parent.categ.id, $index)">{{ prod.nombre }}</span>
            <input type="text" ng-model="prod.nombre" ng-show="producto.editForm($parent.categ.id, $index)" class="form-control"/>
          </td>
          <td style="width: 150px;"><span ng-hide="producto.editForm($parent.categ.id, $index)">$ {{ prod.precio }}</span>
            <div ng-show="producto.editForm($parent.categ.id, $index)" class="input-group">
              <div class="input-group-addon">$ </div>
              <input type="text" ng-model="prod.precio" class="form-control"/>
            </div>
          </td>
          <td class="text-center">
            <button ng-click="producto.endEdit()" ng-show="producto.editForm($parent.categ.id, $index)" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-ok"></i> Listo</button>
            <button ng-click="producto.editar($parent.categ.id, $index)" ng-hide="producto.editForm($parent.categ.id, $index)" class="btn btn-info btn-xs"><i class="glyphicon glyphicon-pencil"></i> Editar</button>
            <button ng-click="producto.borrar(categ.id, $index)" class="btn btn-danger btn-xs"> <i class="glyphicon glyphicon-trash"></i> Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>