div(class="col-sm-10 col-sm-offset-1 animated zoomIn")
    h1 Edición de la Carta de Menú

    div(ng-repeat="categoria in cartaMenu")
        legend {{ categoria.nombre }}

        table(class="table table-bordered table-striped")
            thead
                tr
                    th #
                    th Descripción
                    th Precio
            tbody
                tr(ng-repeat="producto in categoria.productos")
                    td {{ $index + 1}}
                    td {{ producto.nombre }}
                    td $ {{ producto.precio }}
    pre {{ cartaMenu | json }}