div(class="col-sm-10 col-sm-offset-1 animated zoomIn")
    h1 
        a(class="btn btn-link btn-lg", ui-sref="home")
            i(class="glyphicon glyphicon-th-large")
        | Edición de la Carta de Menú
    div(class="pull-right")
        button(type="button", class="btn btn-warning", data-toggle="modal", data-target="#categoriaModal") 
            i(class="glyphicon glyphicon-plus") 
            |  Categoria
    
    h2(class="text-center text-muted", ng-hide="cartaMenu.length > 0") Primero debes agregar una Categoría. 
    div(ng-repeat="categ in cartaMenu", ng-show="cartaMenu.length > 0")
        legend(class="form-inline")
            div(class="btn-group")
                div(class="dropdown")
                    button(type="button", class="btn btn-link dropdown-toggle", data-toggle="dropdown")
                        i(class="glyphicon glyphicon-cog") 
                    ul(class="dropdown-menu")
                        li 
                            button(class="btn btn-link", ng-click="categoria.editar($index)")
                                i(class="glyphicon glyphicon-pencil")
                                |  Editar categoría
                        li 
                            button(class="btn btn-link", ng-click="categoria.borrar()")
                                i(class="glyphicon glyphicon-trash")
                                |  Borrar categoría
            span(ng-hide="categoria.selected == $index") {{ categ.nombre }}
            form(class="form-group", ng-show="categoria.selected == $index")
                input(type="text", class="form-control", ng-model="categ.nombre")
                button(class="btn btn-success", ng-click="categoria.endEdit()") OK
            button(class="btn btn-primary btn-xs", data-toggle="modal", data-target="#productoModal", ng-click="producto.nuevo(categ.id)")
                i(class="glyphicon glyphicon-plus") 
                |  Producto

        h2(class="text-center text-muted", ng-hide="categ.productos.length > 0") Todavia no hay productos en esta categoría.
        table(class="table table-bordered table-striped table-header", ng-show="categ.productos.length > 0")
            thead
                tr
                    th #
                    th Descripción
                    th Precio
                    th(style="width: 150px;")
            tbody
                tr(ng-repeat="prod in categ.productos")
                    td {{ $index + 1}}
                    td 
                        span(ng-hide="producto.editForm($parent.categ.id, $index)") {{ prod.nombre }}
                        input(type="text", ng-model="prod.nombre", class="form-control", ng-show="producto.editForm($parent.categ.id, $index)")
                    td(style="width: 150px;")
                        span(ng-hide="producto.editForm($parent.categ.id, $index)") $ {{ prod.precio }}
                        div(class="input-group", ng-show="producto.editForm($parent.categ.id, $index)")
                            div(class="input-group-addon") $ 
                            input(type="number", ng-model="prod.precio", class="form-control", step="0.01", data-number-to-fixed="2", data-number-stepfactor="100")
                    td(class="text-center")
                        button(class="btn btn-success btn-xs", ng-click="producto.endEdit()", ng-show="producto.editForm($parent.categ.id, $index)")
                            i(class="glyphicon glyphicon-ok")
                            |  Listo
                        button(class="btn btn-info btn-xs", ng-click="producto.editar($parent.categ.id, $index)", ng-hide="producto.editForm($parent.categ.id, $index)")
                            i(class="glyphicon glyphicon-pencil")
                            |  Editar
                        button(class="btn btn-danger btn-xs", ng-click="producto.borrar(categ.id, $index)") 
                            i(class="glyphicon glyphicon-trash")
                            |  Borrar
