
<div class="col-sm-10 col-sm-offset-1 animated zoomIn">
  <h1>Edición de la Carta de Menú</h1>
  <div ng-repeat="categoria in [0,1,2,3,4]">
    <legend>Desayuno</legend>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Descripción</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Café Doble</td>
          <td>$ 16.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Café con Leche Doble</td>
          <td>$ 18.00</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>