div(class="col-sm-10 col-sm-offset-1 animated zoomIn")
    h1 
        a(class="btn btn-link btn-lg", ui-sref="home")
            i(class="glyphicon glyphicon-th-large")
        | Información de la Confiteria

    form(name="info", class="form-horizontal")
        div(class="form-group")
            label(class="col-sm-3 control-label") Nombre de la Confiteria: 
            div(class="col-sm-6")
                input(type="text", class="form-control", ng-model="confiteria.nombre")
        div(class="form-group")
            label(class="col-sm-3 control-label") Dirección:
            div(class="col-sm-6")
                div(class="input-group")
                    div(class="input-group-addon")
                        span(class="glyphicon glyphicon-home")
                    input(type="text", class="form-control", ng-model="confiteria.direccion")
        div(class="form-group")
            label(class="col-sm-3 control-label") Teléfono:
            div(class="col-sm-6")
                div(class="input-group")
                    div(class="input-group-addon")
                        span(class="glyphicon glyphicon-earphone")
                    input(type="text", class="form-control", ng-model="confiteria.telefono")
        div(class="form-group")
            div(class="col-sm-6 col-sm-offset-3")
                input(type="button", class="btn btn-primary", value="Guardar")
